.image {
  height: 200px;
  width: 250px;
  border-radius: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 5px;
  justify-content: center;
  background-color: darkgray;
  width: 300px;
  height: 400px;
  border-radius: 15px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  transition: 0.5s;
}
.card:hover {
  transform: translateY(-20px);
}
.mainContainer {
  display: grid;
}
.preptime {
  margin-top: 10px;
  margin-bottom: 10px;
}
