.card {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: darkgray;
  width: 350px;
  height: 500px;
  border-radius: 15px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  transition: 0.5s;
}
.card:hover {
  transform: translateY(-20px);
}

.cardTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.image {
  height: 300px;
  width: 300px;
  border-radius: 15px;
}
