.main {
  /* background-image: url("../../assets/pictures/nude.jpg"); */
  margin-top: 50px;
  margin-left: 50px;
  font-size: xx-large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.text {
  font-size: large;
}
