.inputStyle:hover {
  border-color: brown;
}
.inputStyle:focus {
  border-color: brown;
}
.inputStyle {
  margin-top: 5px;
  height: 30px;
  width: 200px;
  border-radius: 10px;
  margin-bottom: 20px;
  border-color: transparent;
  padding-left: 10px;
}
